body{
    margin: auto;
}
.about{
    text-align: center;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: blue;

 }
 nav ul li a:hover{
     background-color: black;
 }
 nav ul li a:active{
     background-color: indigo;
 }
 p{
     color: none;
 }
 .container,
 .products-container{
       max-width: 1300px;
       margin: auto;
       padding-left: 25px;
       padding-right: 25px;
 }
 .row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
 }
 .col-2{
     flex-basis: 50%;
     min-width: 300px;
 }
 .col-2 img{
     max-width: 200%;
     padding: 50px;
}

.col-2 h1{
    color: blue;
    margin: 25px 0;
    line-height: 60px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    display: inline-block;
    background: blue;
    text-transform: sentence;
    padding: 6px 18px 5px 18px;
    border-radius: 30px;
    color:black;
    transition: background 0.5s;
}
.btn:hover{
    background: #03161d;
}
.header{
    background: radial-gradient(#fff,#1a9292);
    margin: auto;
}
h2{
    text-align: center;
}
.categories{
    margin: 70px;
}
 .col-3{
    flex-basis: 30px;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
h4{
    color: crimson;
    font-style: bold;
}
p{
    color: rgb(47, 13, 172);
    font-style: italic;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*--media query for menu--*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 90%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff,
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
 /*-----All Products-----*/
 .row-2{
    justify-content: space-between;
    margin: 60px auto 30px;
}

/*-----Single Productss------*/
.single-product{
    margin-top: 50px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
input:focus{
    outline: none;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20ox;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

/*------cart items----*/
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
}


.product{
    width: 45%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid black;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.products img{
    width: 75px;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid black;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}
.price{
    width: 15%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.total {
    width: 10%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}
.basketTotal{
    width: 10%;
}
.remove{
    cursor: pointer;;
}





/*--------account page----*/
.account-page{
    padding: 50px 0;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}  
form input{
    width: 70%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 5 0%;
    border: none;
    cursor: pointer;
    margin: 10px 0; 
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}









/*-----media query for phone----*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}